:root, html{
    font-family: sans-serif;
    margin: 0;
}

.bg{
    background-color: hsl(212, 45%, 89%);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    min-height: 90vh;
    margin: auto;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: auto;
    width: 20%;
    height: 50vh;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    border-radius: 10px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}

h1{
    font-size: 1em;
    padding: 0.7em;
}

p{
    font-size: 0.7rem;
    color: grey;
    font-weight: bold;
    padding-left: 1rem;
    padding-right: 1rem;
}

img{
    border-radius: 10px;
}

.qrcode{
    max-width: 250px;
    max-height: 250px;
}

.attribution{
    font-size: 1rem;
    text-align: center;
    padding-top: 10px;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

@media   (max-width:900px) {
    .qrcode{
        max-width: 150px;
        max-height: 150px;
    }
    .card{
        min-width: 45vw;
        height: 40vh;
    }
}